<ion-header [translucent]="true">
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/image/pin.png" width="50px" height="50px" alt="pin"/>
      </ion-avatar>
    </ion-buttons>
    <ion-title mode="md">
      <ion-label>
        <ion-text >You are Here</ion-text>
        <p>
          Madipakkam, Chennai
          <ion-icon name="chevron-down-outline"></ion-icon>
        </p>
      </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart" color="dark"></ion-icon>
        <ion-badge color="danger">1</ion-badge>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-row> -->
    <swiper-container
      [slidesPerView]="1"
      [loop]="true"
      [pagination]="true" 
      [autoplay]="true"
    >
      <swiper-slide>
        <img src="/assets/image/deliveryBoy.png" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/image/deliveryBoy.png" alt="" />
      </swiper-slide>
      <swiper-slide>
        <img src="/assets/image/deliveryBoy.png" alt="" />
      </swiper-slide>
    </swiper-container>
  <!-- </ion-row> -->

  <div class="topic">
    What woule you like to do today
  </div>

  <ion-grid>
    <ion-row>

      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img src="assets/image/deliveryBoy.png" alt="" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center" >Send Packages</ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
